@model culinariaMVC.Models.Receita

@{
    ViewData["Title"] = "Detalhes da Receita";
    Layout = "~/Views/Shared/Layout_Home.cshtml";

    String dateTime = Model.DataPublicacao.ToString();
    String[] date = dateTime.Split(' ');

    var cat = Model.IdCategoria;


    String[] ingredientes = Model.Ingredientes.Split('\n');
    String[] instrucoes = Model.Instrucoes.Split('\n');
    @*String instru = instrucoes[0].Substring(0, 2);*@ @*Pôr a bold os numeros de instruções*@
}
<link rel="stylesheet" href="~/css/Receita.css" type="text/css"></link>

<div class="row">
    <div class="col-9 conteudo_receita">
        <div class="col-9">
            <h3 id="nome_receita">@Model.NomeReceita</h3>
            <div id="stars"></div>
            @if (User.IsInRole("Leitor"))
            {
                <h5><a asp-action="GuardarReceita" asp-controller="MinhasReceitas" asp-route-id_receitaApi="@Model.Id" asp-route-name_leitor="@User.Identity.Name"><i class="fas fa-heart" id="guardar_receita" style="color: red; margin-left: 2.2%"></i></a> Guardar Receita</h5>
            }
            else if (User.IsInRole("Pasteleiro"))
            {
                <h5><a><i class="fas fa-heart" id="guardar_receita" style="color: red; margin-left: 2.2%"></i></a> Criado pelo utilizador <b>@User.Identity.Name</b>.</h5>
            }
            else
            {
                <h5><a><i class="fas fa-heart" id="guardar_receita" style="color: red; margin-left: 2.2%"></i></a> Para <b>Guardar Receita</b> tem de se Autenticar</h5>
            }
        </div>

        <input type="hidden" class="hidden_id_rec" id="@Model.Id" />
        <input type="hidden" class="hidden_id_cat" id="@Model.IdCategoria" />

        <div class="col-4" id="detalhes">
            <table class="table" id="table_detalhes">
                <tbody>
                    <tr>
                        <td scope="row">Data da Publicação</td>
                        <td>@date[0]</td>
                    </tr>
                    <tr>
                        <td scope="row">Categoria</td>
                        <td id="cat"></td>
                    </tr>
            </table>
        </div>

        <div class="col-6" id="img_receita">
            <img src="@("~/Photos/" + Model.ImgReceita)" alt="@Model.NomeReceita" id="img_receita" asp-append-version="true">
        </div>
        <div class="col-4" id="tags">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td scope="row">Grau de Dificuldade</td>
                        <td>@Model.GrauDificuldade</td>
                    </tr>
                    <tr>
                        <td scope="row">Tempo de Confecção</td>
                        <td>@Model.TempoPreparacao</td>
                    </tr>
                    <tr>
                        <td scope="row">Doses</td>
                        <td>@Model.Doses</td>
                    </tr>
                    <tr>
                        <td scope="row">Custo da Refeição</td>
                        <td>@Model.CustoRefeicao</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div id="descricao" class="col-10">
            <h4>Descrição</h4>
            <br />
            <p>@Model.DescricaoReceita</p>
        </div>

        <div id="ingredientes" class="col-10">
            <h4>Ingredientes</h4>
            <br />
            @foreach (var ing in ingredientes)
            {
                <ul>
                    <li>@ing</li>
                </ul>
            }


        </div>

        <div id="instrucoes" class="col-10">
            <h4>Instruções</h4>
            <br />
            @foreach (var inst in instrucoes)
            {
                <p>@inst</p>
            }
        </div>
    </div>

    <div class="caixa">
        <div id="jumbo_comentarios" class="sticky-top">
            <div id="section_comentarios" class="col-3">
                <br>
                <h3>Comentários</h3>
            </div>
        </div>
        <div class="img_caixa img_fluid">
            <br><br>
            <div class="form-group comentarios" id="coment_box"></div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-group" id="coment_text">
                <br>
                <div class="row">
                    <div class="col-8">
                        <label id="label_comentario" for="new_comentario">Novo Comentário:</label>
                        <textarea id="new_comentario" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="avaliacao col-4">
                        <label for="rating" style="color:white">Avaliação de 0 a 5</label>
                        <input type="number" id="rating" name="rating" class="form-control" style="width:55%" />
                        <br />
                        <button class="btn btn-secondary" type="button" id="btn_comentar">Comentar</button>
                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="form-group" id="coment_text">
                <br>
                <div class="row">
                    <div class="col-8">
                        <label id="label_comentario" for="new_comentario">Novo Comentário:</label>
                        <textarea id="new_comentario" class="form-control" rows="3" disabled></textarea>
                    </div>

                    <div class="avaliacao col-4">
                        <label for="rating" style="color:white">Avaliação de 0 a 5</label>
                        <input type="number" id="rating" name="rating" class="form-control" style="width:55%" disabled />
                        <br />
                        <button class="btn btn-secondary" type="button" id="btn_comentar" disabled>Comentar</button>
                    </div>
                </div>
                <br />
                <div class="container" id="aviso_auth" style="background-color:#c83f3f;color:white">
                    <a>Para poder <b>Comentar e Avaliar</b> a Receita terá de se autenticar no website primeiro.</a>
                </div>
            </div>

        }

    </div>
</div>

<script src="~/js/Receita.js"></script>

