@model culinariaMVC.Models.Receita

@{
    ViewData["Title"] = "Apagar Receita";
    Layout = "~/Views/Shared/Layout_AdminHome.cshtml";
}

<h1>Apagar Receita</h1>

<h3 style="margin-left:35%">Tem a certeza que pretende Apagar?</h3>
<div>
    <hr />
    <dl class="row" style="margin-left:35%">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeReceita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgReceita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgReceita)
            <img src="@("https://localhost:44313/Photos/" + Model.ImgReceita)">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoReceita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrauDificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrauDificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoRefeicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoRefeicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoPreparacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoPreparacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrucoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
    </dl>
    
    <form asp-action="DeleteReceitas" asp-route-name_admin="@User.Identity.Name" style="margin-left:55%">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Arquivos_Admin" asp-controller="Admin_pasteleiro" asp-route-name_admin="@User.Identity.Name">Voltar ao Arquivo de Receitas</a> |
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
</div>
