@model culinariaMVC.Models.Receita

@{
    ViewData["Title"] = "Detalhes da Minha Receita";
    Layout = "~/Views/Shared/Layout_LeitorHome.cshtml";

    String dateTime = Model.DataPublicacao.ToString();
    String[] date = dateTime.Split(' ');

    var cat = Model.IdCategoria;


    String[] ingredientes = Model.Ingredientes.Split('\n');
    String[] instrucoes = Model.Instrucoes.Split('\n');
    @*String instru = instrucoes[0].Substring(0, 2);*@ @*Pôr a bold os numeros de instruções*@
}
<link rel="stylesheet" href="~/css/Receita.css" type="text/css"/>

<div class="row">
    <div class="col-9 conteudo_receita">
        <div class="col-9">
            <h3 id="nome_receita">@Model.NomeReceita</h3>
            <div id="stars"></div>
            <h5><i class="fas fa-heart" id="guardar_receita" style="color: red; margin-left: 2.2%"></i> Guardado</h5>
        </div>

        <input type="hidden" class="hidden_id_rec" id="@Model.Id" />
        <input type="hidden" class="hidden_id_cat" id="@Model.IdCategoria" />

        <div class="col-4" id="detalhes">
            <table class="table" id="table_detalhes">
                <tbody>
                    <tr>
                        <td scope="row">Data da Publicação</td>
                        <td>@date[0]</td>
                    </tr>
                    <tr>
                        <td scope="row">Categoria</td>
                        <td id="cat"></td>
                    </tr>
            </table>
        </div>

        <div class="col-6" id="img_receita">
            <img src="@("~/Photos/" + Model.ImgReceita)" alt="@Model.NomeReceita" id="img_receita" asp-append-version="true">
        </div>
        <div class="col-4" id="tags">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td scope="row">Grau de Dificuldade</td>
                        <td>@Model.GrauDificuldade</td>
                    </tr>
                    <tr>
                        <td scope="row">Tempo de Confecção</td>
                        <td>@Model.TempoPreparacao</td>
                    </tr>
                    <tr>
                        <td scope="row">Doses</td>
                        <td>@Model.Doses</td>
                    </tr>
                    <tr>
                        <td scope="row">Custo da Refeição</td>
                        <td>@Model.CustoRefeicao</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div id="descricao" class="col-10">
            <h4>Descrição</h4>
            <br />
            <p>@Model.DescricaoReceita</p>
        </div>

        <div id="ingredientes" class="col-10">
            <h4>Ingredientes</h4>
            <br />
            @foreach (var ing in ingredientes)
            {
                <ul>
                    <li>@ing</li>
                </ul>
            }


        </div>

        <div id="instrucoes" class="col-10">
            <h4>Instruções</h4>
            <br />
            @foreach (var inst in instrucoes)
            {
                <p>@inst</p>
            }
        </div>
    </div>

    <div class="caixa">
        <div id="jumbo_comentarios" class="sticky-top">
            <div id="section_notas" class="col-3">
                <br>
                <h3>Notas</h3>
            </div>
        </div>
        <div class="img_caixa img_fluid">
            <br><br>
            <div class="form-group comentarios" id="coment_box"></div>
        </div>
        <div class="form-group" id="coment_text">
            <label id="label_comentario" for="new_note">Nova Nota:</label>
            <br>
            <textarea id="new_note" class="form-control" rows="3"></textarea>
            <button class="btn btn-secondary" type="button" id="btn_comentar">Anotar</button>
        </div>
    </div>
</div>

<script src="~/js/MinhaReceita.js"></script>
